@model IngredientFormViewModel

@{
    ViewData["Title"] = Model.Id == null ? "Create" : "Edit";
}

<h1>@ViewData["Title"] Ingredient</h1>

<div class="row">
    <div class="col-md-4">
		<form asp-action="Save">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="Id" hidden/>

			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="UnitId" class="control-label"></label>
				<select asp-for="UnitId" asp-items="Model.UnitsSelectList" class="form-control">
					<option value="">None</option>
				</select>
				<span asp-validation-for="UnitId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="SectionId" class="control-label"></label>
				<select asp-for="SectionId" asp-items="Model.SectionsSelectList" class="form-control">
					<option value="">Please Select...</option>
				</select>
				<span asp-validation-for="SectionId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

